
img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}
header{
    width: auto;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
header, nav, footer, section, article, div {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.row{
 height: auto;;
  font-size:30px;
color:burlywood;
vertical-align: 10%;
}
.todoheader{
  margin-top:20%;
 
}
.list-group{
  border:none;
}
.list-group-item{
 padding: 0%;
  
}
#input-text{
  float: left;
  width:100%;
  margin: 0,0,0,0;
  padding: 0,0,0,0;
  border:none;
}
.addbtn{
  font-size: 2.em;
  width: 20%;
  padding: 0,0 ,0 ,0;
  margin:0 0 0 0;
  background: none;
  border: none;
}
.close{
  text-align: right;
}
.checked{
  text-decoration: line-through;

}
.to_do_list{
  width: 100%;
  margin: 1px;
}